* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gotham Bold", "GothamSSm", "Gotham Light", "Gotham Medium";
  /* font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  color: white;
  font-weight: 500px;
  line-height: 1.7em;
}
/* html {
    scroll-behavior: smooth;
}
html,
body {
    scroll-snap-type: y mandatory;
} */

@font-face {
  font-family: "Gotham Bold";
  src: url("/font/GothamSSm-Bold_Web.woff2") format("opentype");
}
@font-face {
  font-family: GothamSSm;
  src: url("/font/GothamSSm-Book_Web.woff2") format("TrueType");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham Light";
  src: url("/font/GothamSSm-Light_Web.woff2") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham Medium";
  src: url("/font/GothamSSm-Medium_Web.woff2") format("opentype");
  font-weight: 500;
}

h1 h2 h3 button {
  font-family: Gotham Bold;
  /* , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  /* font-size: 36px; */
  font-weight: 500;
  padding-bottom: 20px;
  margin: auto;
}
/* 
h1{
    font-family: Gotham Bold;
} */
p {
  margin: 10px 0;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
  margin: 6px;
  padding: 3px;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-family: "Gotham SSm";
}

.container-page-1 {
  /* max-width: 1290px;
  height: 585.7px; */
  position: relative;
  font-family: "Rubik" sans-serif;
  max-width: 100vw;
  height: 100vh;
  /* padding-bottom: 50px; */
  display: block;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D");
  background-size: cover;
  background-position-y: center;
  /* scroll-snap-align: start; */
}

.navbar {
  /* border: solid 2px darkcyan; */
  height: 50px;
  width: 1289px;
  position: fixed;
  overflow: auto;
  align-items: center;
}

.logo {
  width: 120px;
  position: fixed;
  top: 20px;
  left: 42px;
  padding: 0px 2px;
  fill: white;
}

.navbar-middle,
.navbar-right {
  display: inline-block;
}

.navbar-middle {
  margin-top: 6px;
}

.navbar-right {
  margin: 0px 2px;
}

ul.navbar-middle-menu {
  position: fixed;
  left: 350px;
  /* border: brown 2px solid; */
}

.navbar-right-menu {
  /* border: darkgreen 2px solid; */
  position: fixed;
  top: 15px;
  right: 20px;
  /* margin: 0px 5px; */
}

.navbar ul li a:hover {
  background: rgba(168, 166, 166, 0.795);
  border-radius: 12px;
  padding: 6px;
  transition-duration: 0.4s;
}

.tesla-3-header {
  /* border: tomato 2px solid; */
  font-family: "GothamSSm";
  font-weight: 500;
  position: absolute;
  text-align: center;
  top: 90px;
  margin-left: 45%;

  /* width: 1200px; */
}

.footer {
  /* text-indent: 0.8px; */
  position: relative;
  border: 2px solid red;
  width: 50vw;
  height: 80px;
  bottom: 170px;
  text-align: center;
  align-content: center;
  margin: auto;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  align-content: center;
  margin: 0 23px;
}

.box-1 {
  border: pink solid 2px;
  float: left;
  position: relative;
  height: 100%;
}

.speedometer-image-svg {
  border: 2px solid forestgreen;
  float: left;
  fill: white;
  height: 40px;
  width: 42px;
  /* vertical-align: center; */
  text-align: center;
  /* height:60% ; */
  /* vertical-align: auto; */
  /* padding: 0; */
  /* margin: 0; */
}

.speedometer-value {
  border: yellow 2px solid;
  float: left;
  height: 65%;
  /* display: inline-block;
  position: relative;
  font-size: 16px;
  left: 20px;
  bottom: 70px;
  */
}

.span-1 {
  border: black 2px solid;
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.speedometer-value.text {
  position: relative;
  padding: 4px;
}

.box-2 {
  position: relative;
  border: darkviolet 3px solid;
  float: left;
  height: 100%;
}

.box-3 {
  border: darkslategrey 3px solid;
  float: left;
  height: 100%;
}

.box-4 {
  border: darkviolet 3px solid;
  float: right;
  height: 100%;
  align-content: center;
}

.box-3-text-2,
.box-2-text-2 {
  height: 40%;
  color: white;
  border: greenyellow 3px solid;
  position: relative;
  bottom: 17px;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.box-1 h2,
.box-2 h1,
.box-3 h1 {
  font-weight: 500;
}
.box-4 .order-now {
  background-color: transparent;
  border-radius: 15px;
  border: white 2px solid;
  width: 140px;
  padding: 5px;
  margin-top: 18px;
}
.box-4-page2.order-now {
  display: inline-block;
  border: black 2px solid;
  border-radius: 15px;
  background-color: transparent;
}
.side-navbar {
  position: fixed;
  display: inline-block;
  top: 100px;
  margin: 0;
  line-height: 0px;
  padding: 0%;
  /* color: grey; */
  border: 2px solid forestgreen;
  font-size: small;
  font-weight: lighter;
}

.side-navbar li a {
  color: rgba(233, 233, 233, 0.5);
}
.side-navbar li a:hover + .side-navbar a {
  visibility: visible;
  transition-duration: 0.4s;
  transition: all 2s 0.2s;
  z-index: 10;
}

.chat-svg-image {
  position: absolute;
  bottom: 100px;
  right: 20px;
  background-color: white;
  border-radius: 20px;
  border: white 1px solid;
  padding: 7px;
}

p,
.container-page-2 h1,
.container-page-2 h2,
.container-page-2 html {
  font-family: "Rubik" sans-serif;
  color: black;
}
/* max-width: 1290px;
height: 585.7px; */

.container-page-2 {
  margin-top: -82px;
  position: relative;
  float: right;
  width: 100vw;
  height: 100vh;
  border: 3px springgreen solid;
    background-position-y: center;

  /* scroll-snap-align: start; */
}

.logo-page-2 {
  width: 120px;
  position: relative;
  top: 120px;
  fill: black;
  left: 42px;
  padding: 0px 2px;
  /* filter: invert(100%); */
}
.aside-safety-content {
  width: 40%;
  height: 100vh - 10vh;
  border: blue 2px solid;
  display: inline;
  position: absolute;
  top: 50px;
  /* padding: -5000px; */
  /* margin: 0; */
  /* float: left; */
  /* top: 0px; */
}
.aside-safety-content p,
.aside-safety-content {
  padding: 0 30px;
  display: inline-block;
}

.car-background-image {
  background-image: url(/images/model_3_safety_hero.png);
  float: right;
  background-size: cover;
  width: 70%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: -200px;
  margin-top: -31px;
}

.car-background-image {
  /* display: inline-block; */
  /* position: absolute; */
  /* margin-top: 0; */
  border: 2px orange solid;
  /* height: 500vh; */
  /* height: 585.7px;  */
    /* height: 500vh ; */
  width: 60%;
  top: 0;
  float: right;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  /* margin: auto; */
  /* cursor: zoom-in; */
  /* background-color: hsl(0, 0%, 90%); */
  /* transition: background-color 300ms; */
}
/* -webkit-user-select: none; */

.car-background-image .background-image-page-2 {
  position: relative;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;

  /* width:60%;   */
  /* height:500px;  */
}

.buttons-container {
  position: relative;
  display: inline-block;
  border: brown 1px solid;
  width: 100%;
}
.learn-more {
  border: 1px solid royalblue;
  display: inline-block;
}

.more .box-4-page2 {
  display: inline-block;
  position: relative;
  /* border: 2px solid black; */
}

button {
  color: black;
  /* color:invert(100%); */
  /* background-color: ; */
}



/* page 3 */


.container-page-3{
    border: tomato 2px bold;
    /* width: 1289px;
    height:585.7px; */
    /* scroll-snap-align: start; */
    position: relative;
    margin-top: -100px;
  position: relative;
  float: right;
  width: 100vw;
  height: 100vh;
  
}

.upper-container{
    position:relative;
    float: top;
border: tomato 2px bold;
    background-image: url(/images/page-3-background-bottom.jpeg);

}