* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 500px;
}

h1 {
  /* font-size: 36px; */
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.container-page-1 {
  /* border: blueviolet solid 3px; */
  box-sizing: border-box;
  /* max-width: 1290px;
    height: 585.7px; */
  max-width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  display: block;
  position: relative;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D");
  background-size: cover;
  background-position-y: center;
}

li {
  list-style: none;
  margin: 6px;
  padding: 3px;
}

a {
  text-decoration: none;
}

.logo {
  /* border: 3px solid yellow; */
  box-sizing: border-box;
  /* margin-right: 20px; */
  width: 120px;
  position: fixed;
  top: 20px;
  left: 42px;
  padding: 0px 2px;
}

.navbar {
  /* border: solid 2px darkcyan; */
  height: 50px;
  width: 1289px;
  position: fixed;
  overflow: hidden;
  align-items: center;
}

.navbar-middle {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 5px;
}

.navbar-right {
  display: inline-block;
  margin: 2px 2px;
  font-family: "Rubik" sans-serif;
}

ul.navbar-middle-menu {
  position: fixed;
  left: 350px;
  /* border: brown 2px solid; */
}

.navbar-right-menu {
  /* border: darkgreen 2px solid; */
  position: fixed;
  top: 15px;
  right: 20px;
  /* margin: 0px 5px; */
}

.tesla-3-header {
  /* border: tomato 2px solid; */
  position: absolute;
  text-align: center;
  top: 90px;
  margin-left: 45%;

  /* width: 1200px; */
}
.footer {
  border: 1px solid red;
  display: block;
  box-sizing: border-box;
  width: 800px;
  height: 120px;
  position: absolute;
  bottom: 50px;
  left: 320px;
  padding: -200px 0;
  /* margin: auto; */
}


.box-1 {
  display: inline-block;
  border: purple solid 2px;
  position: relative;
  width: 220px;
  height: 120px;
  box-sizing: border-box;
}

.speedometer {
  border: springgreen solid 2px;
  height: 120px;
  width: 100px;
  /* box-sizing: border-box; */
  display: inline-block;
  position: relative;
    /* top:5px; */
  margin: auto;
  fill: white;
}

.span-1{
    border:skyblue 2px solid;
    box-sizing: border-box;
    height: 120px;

    position: relative;
    top:80px;
    left: 5px;
    margin: auto;
}

.speedometer-value {
    /* position: relative; */
    /* top:0px; */
    /* box-sizing: border-box; */
    
}
.text {
    /* align-content: center; */
    display: inline-block;
    position: relative;
    bottom:45px;
    left: 5px;
    height: 120px;
    width: 80px;
    box-sizing: border-box;
    border: lime 2px solid;
    
 }

/* background-repeat: no-repeat;
background-size: cover;
background-position-x: -200px; */
